/* Configuração de Contato */
.contato {
    grid-column: 2;
    justify-content: space-around;
}
#contato p, #contato a {
    font-size: 1rem;
    margin: 0.8rem 0;
    padding: 0.2rem 0;
}
#contato a:hover {
    color: rgba(51, 52, 63, 0.8);
    font-weight: 700;
    transition: 100ms linear;
}
.dadosContato {
    text-align: center;
    grid-column: 1;
}
.dadosContato h3 {
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.dadosSugestoes {
    grid-column: 2;
}
.dadosSugestoes > p {
    text-align: center;
}
.dadosSugestoes #tel, .dadosSugestoes #assunto, .dadosSugestoes #msg {
    width: 100%;
}
#nomeEsobrenome{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#contato .dadosSugestoes .nome{
    margin-right: 1rem;
}
#email, #name, .nome, .email {
    width: 100%;
}
.dadosSugestoes textarea {
    margin-top: 0.2rem;
}
.dadosSugestoes input, .dadosSugestoes textarea {
    border-bottom: 0.1rem solid #33343F;
    border-top: 0.1rem solid #FEFEFE;
    border-left: 0.1rem solid #FEFEFE;
    border-right: 0.1rem solid #FEFEFE;
    border-radius: 0.2rem;
    transition: border 200ms linear;
}
.dadosSugestoes input:hover, .dadosSugestoes textarea:hover {
    border: 0.1rem solid #33343F;
}
.dadosSugestoes input:focus, .dadosSugestoes textarea:focus {
    outline: none;
    border: 0.1rem solid #33343F;
    border-radius: 0.2rem;
}
.dadosSugestoes input[type=button] {
    border: none;
    transition: 200ms linear;
}
.dadosSugestoes input[type=button]:focus, .dadosSugestoes input[type=button]:hover{
    border: none;
    cursor: pointer;
    background-color: rgba(51, 52, 63, 0.8);
}
#msg {
    resize: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}