/* Configuração de Inicio */
.apres-content {
    width: 60%;
    margin: 5rem 0 14rem 0;
}
.apres-content h5 {
    text-transform: uppercase;
}
.apres-content h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2rem;
}
/* Configuração Frases Motivacionais */
#frases-motivacionais {
    background-color: #33343F;
}
.blocos-frases-motivacionais {
    padding-top: 14rem;
    color: #FAFBFF;
}
.blocos-frases-motivacionais > p:first-of-type {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12.5rem;
}
.blocos-frases-motivacionais > p:last-of-type {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
/* Configuração de Preview de Projetos */
#projects-preview {
    background-color: #FAFBFF;
}
.projects-content {
    flex-direction: column;
}
.about-preview {
    width: 60%;
}
.lista-linguagens {
    margin: 0.5rem 0;
    justify-content: center;
}
.lista-linguagens li img{
    width: 4rem;
    height: 4rem;
}
.lista-linguagens li ~ li {
    margin-left: 1rem;
}
.all-proj-btn {
    text-align: center;
    margin-top: 3rem;
}
#blocos-projetos {
    justify-content: space-around;
    padding-top: 5rem;
}
.bloco {
    width: 150pt;
    height: 150pt;
    position: relative;
    transition: 200ms ease-in-out;
}
.bloco:hover {
    transform: scale(1.1);
}
.text-img-proj {
    height: 4rem;
    width: 100%;
    background-color: rgba(51,52,63,0.7);
    position: absolute;
    bottom: 0;
    transition: 200ms ease-in-out;
}
.bloco > div > p {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    color: #FEFEFE;
}
.my-contab {
    background: no-repeat center/95% url(../img/logo-mycontab.png);
}
.bootcamp-santander {
    background: no-repeat center/95% url(https://hermes.dio.me/tracks/afebe5ed-2b18-438a-95b0-2c971e9aeff9.png);
}
.ribeirao-encena {
    background: no-repeat center/95% url(../img/ribeirao-encena.svg);
}
/* Configuração de Preview de Contato */
.contact-preview {
    text-align: center;
}
.contact-preview > p {
    margin: 2rem 20%;
}
@media only screen and (min-width: 900px) and (max-width: 1250px) {
    .apres-content, .about-preview {
        width: 80%;
    }
}
@media only screen and (max-width: 899px) {
    #blocos-projetos {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .bloco {
        width: 210pt;
        height: 210pt;
        position: relative;
        transition: 200ms ease-in-out;
    }
    .apres-content, .about-preview  {
        width: 100%;
        margin: 0;
    }
}