/* Configuração Geral */
:root {
    --counter: "70%";
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5, a, p, article, input, textarea {
    color: #33343F;
    font-family: 'Avenir Light', Helvetica, sans-serif;
}
h1, h1 a {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
a {
    text-transform: uppercase;
}
a, p {
    font-size: 1.1rem;
}
.grid {
    display: grid;

}
.grid-col-131 {
    grid-template-columns: 1fr 3fr 1fr;
}
.flex {
    display: flex;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.social-media img{
    height: 2.2rem;
}
.social-media li~li {
    margin-left: 0.4rem;
}
.apres-content, .blocos-frases-motivacionais {
    grid-column: 2;
}
.hidden {
    opacity: 0;
}
/* Configuração de Header */
.header-menu::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: #33343F;
    margin-bottom: 0.5rem;
}
.menu-mobile {
    display: none;
}
.nav-header {
    grid-template-areas: "social-media" "titulo" "menu";
}
.social-media {
    grid-area: social-media;
    grid-column: 2;
}
.social-media ul{
    justify-content: flex-end;
}
.social-media img {
    transition: linear 100ms;
}
.social-media img:hover {
    filter: invert(47%) sepia(18%) saturate(410%) hue-rotate(197deg) brightness(94%) contrast(87%);
}
.titulo {
    grid-area: titulo;
    grid-column: 2;

    text-align: center;
    font-weight: 800;
    margin: 8rem 0 0.5rem 0;
    transition: ease-in-out 200ms;
}
.titulo a:hover {
    color: #72748C;
}
.menu {
    grid-area: menu;
    grid-column: 2;
    text-transform: uppercase;
}
.menu-base {
    justify-content: center;
    margin: 1rem 0 7rem 0;
}
.menu-base li ~ li {
    margin-left: 2rem;
}
.menu-base li > a {
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    text-align: center;
    transition: ease-in-out 100ms;
    font-size: 0.9rem;
    font-weight: 500;
}
.menu-base li > a:hover, .page-activated {
    border-bottom: 2px solid #72748C;
    color: #72748C;
}

/* Configuração de Seções */
.sec-title {
    padding-bottom: 3rem;
    text-align: center;
}

/* Configuração de Footer */
.page-footer {
    background-color: #33343F;
}
.foot {
    grid-column: 2;
    text-align: center;
    justify-content: space-around;
    padding: 2rem 0;
}
.foot h4, .foot p {
    margin: 0.5rem 0;
    color: #FAFBFF;
}
.foot h4, .foot p > span {
    text-transform: uppercase;
}
.foot > .social-media ul {
    justify-content: center;
    margin-top: 1rem;
}
.foot-marca > p:first-of-type{
    margin-top: 1rem;
}
.foot > .social-media img:hover {
    filter: invert(47%) sepia(18%) saturate(410%) hue-rotate(197deg) brightness(94%) contrast(87%);
}
@media only screen and (min-width: 900px) and (max-width: 1250px) {

}
@media only screen and (max-width: 899px) {
    /* Menu mobile */
    
}